<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <!-- <include resource="org/springframework/boot/logging/logback/base.xml" /> -->

    <conversionRule conversionWord="myflag"
                    converterClass="com.github.sftwnd.crayfish.examples.logging.MySampleConverter" />

    <appender name="MY" class="ch.qos.logback.core.ConsoleAppender">
        <!-- Log SCMessage format -->
        <withJansi>true</withJansi>
        <encoder>
            <pattern>%green(%date{ISO8601}) [%32thread] %highlight(%-5level) %boldYellow(%-16myflag) %cyan(%logger{36}) - %msg%n</pattern>
        </encoder>
    </appender>

    <appender name="DEFAULT" class="ch.qos.logback.core.ConsoleAppender">
        <!-- Log SCMessage format -->
        <withJansi>true</withJansi>
        <encoder>
            <pattern>%green(%date{ISO8601}) [%32thread] %highlight(%-5level) %cyan(%logger{36}) - %msg%n</pattern>
        </encoder>
        <filter class="ch.qos.logback.core.filter.EvaluatorFilter">
            <evaluator class="ch.qos.logback.classic.boolex.OnMarkerEvaluator">
                <marker>USEROPS</marker>
                <marker>ADMINOPS</marker>
            </evaluator>
            <onMismatch>ACCEPT</onMismatch>
            <onMatch>DENY</onMatch>
        </filter>
    </appender>

    <appender name="USEROPS" class="ch.qos.logback.core.ConsoleAppender">
        <!-- Log SCMessage format -->
        <withJansi>true</withJansi>
        <encoder>
            <pattern>%green(%date{ISO8601}) [%32thread] %highlight(%-5level) %boldWhite[%gray(U:%X{user})] %cyan(%logger{36}) - %msg%n</pattern>
        </encoder>
        <filter class="ch.qos.logback.core.filter.EvaluatorFilter">
            <evaluator class="ch.qos.logback.classic.boolex.OnMarkerEvaluator">
                <marker>USEROPS</marker>
            </evaluator>
            <onMismatch>DENY</onMismatch>
            <onMatch>ACCEPT</onMatch>
        </filter>
    </appender>

    <appender name="ADMINOPS" class="ch.qos.logback.core.ConsoleAppender">
        <!-- Log SCMessage format -->
        <withJansi>true</withJansi>
        <encoder>
            <pattern>%green(%date{ISO8601}) [%32thread] %highlight(%-5level) %boldWhite[%boldRed(A:%X{admin})] %cyan(%logger{36}) - %msg%n</pattern>
        </encoder>
        <filter class="ch.qos.logback.core.filter.EvaluatorFilter">
            <evaluator class="ch.qos.logback.classic.boolex.OnMarkerEvaluator">
                <marker>ADMINOPS</marker>
            </evaluator>
            <onMismatch>DENY</onMismatch>
            <onMatch>ACCEPT</onMatch>
        </filter>
    </appender>

    <appender name="ASYNC-DEFAULT" class="ch.qos.logback.classic.AsyncAppender">
        <queueSize>500</queueSize>
        <discardingThreshold>0</discardingThreshold>
        <appender-ref ref="DEFAULT" />
    </appender>

    <appender name="ASYNC-USEROPS" class="ch.qos.logback.classic.AsyncAppender">
        <queueSize>500</queueSize>
        <discardingThreshold>0</discardingThreshold>
        <appender-ref ref="USEROPS" />
    </appender>

    <appender name="ASYNC-ADMINOPS" class="ch.qos.logback.classic.AsyncAppender">
        <queueSize>500</queueSize>
        <discardingThreshold>0</discardingThreshold>
        <appender-ref ref="ADMINOPS" />
    </appender>

    <!-- <logger name="com.sftwnd.crayfish"  level="info"  additivity="false"><appender-ref ref="ASYNC-DEFAULT"/><appender-ref ref="ASYNC-USEROPS"/><appender-ref ref="ASYNC-ADMINOPS"/><appender-ref ref="MY"/></logger> -->
    <logger name="com.sftwnd.crayfish"  level="info"  additivity="false"><appender-ref ref="MY"/></logger>

    <!-- root -->
    <root level="INFO">
        <appender-ref ref="ASYNC-DEFAULT"/>
        <appender-ref ref="ASYNC-USEROPS"/>
        <appender-ref ref="ASYNC-ADMINOPS"/>
        <!-- <appender-ref ref="MY"/> -->
    </root>

</configuration>
