<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <!-- <include resource="org/springframework/boot/logging/logback/base.xml" /> -->

    <!--
    <conversionRule conversionWord="myflag"
                    converterClass="com.github.sftwnd.crayfish.examples.logging.MdcLoggedMarker" />
     -->
    
    <appender name="DEFAULT" class="ch.qos.logback.core.ConsoleAppender">
        <!-- Log SCMessage format -->
        <withJansi>true</withJansi>
        <encoder>
            <pattern>D %green(%date{ISO8601}) [%32thread] %highlight(%-5level)                %cyan(%logger{36}) - %msg%n</pattern>
        </encoder>
        <filter class="ch.qos.logback.core.filter.EvaluatorFilter">
            <evaluator class="com.github.sftwnd.crayfish.examples.logging.MdcLoggedOnKeyEvaluator">
                <key>PAY</key>
                <key>MSG</key>
            </evaluator>
            <onMismatch>ACCEPT</onMismatch>
            <onMatch>DENY</onMatch>
        </filter>
    </appender>

    <appender name="PAY" class="ch.qos.logback.core.ConsoleAppender">
        <!-- Log SCMessage format -->
        <withJansi>true</withJansi>
        <encoder>
            <pattern>P %green(%date{ISO8601}) [%32thread] %highlight(%-5level) %red(PAY #%-9X{PAY}) %cyan(%logger{36}) - %msg%n</pattern>
        </encoder>
        <filter class="ch.qos.logback.core.filter.EvaluatorFilter">
            <evaluator class="com.github.sftwnd.crayfish.examples.logging.MdcLoggedOnKeyEvaluator">
                <key>PAY</key>
            </evaluator>
            <onMatch>ACCEPT</onMatch>
            <onMismatch>DENY</onMismatch>
        </filter>
    </appender>

    <appender name="MSG" class="ch.qos.logback.core.ConsoleAppender">
        <!-- Log SCMessage format -->
        <withJansi>true</withJansi>
        <encoder>
            <pattern>M %green(%date{ISO8601}) [%32thread] %highlight(%-5level) %green(MSG #%-9X{MSG}) %cyan(%logger{36}) - %msg%n</pattern>
        </encoder>
        <filter class="ch.qos.logback.core.filter.EvaluatorFilter">
            <evaluator class="com.github.sftwnd.crayfish.examples.logging.MdcLoggedOnKeyEvaluator">
                <key>MSG</key>
            </evaluator>
            <onMatch>ACCEPT</onMatch>
            <onMismatch>DENY</onMismatch>
        </filter>
    </appender>

    <appender name="ASYNC-DEFAULT" class="ch.qos.logback.classic.AsyncAppender">
        <queueSize>500</queueSize>
        <discardingThreshold>0</discardingThreshold>
        <appender-ref ref="DEFAULT" />
    </appender>

    <logger name="com.github.sftwnd.crayfish"  level="info"  additivity="false">
        <appender-ref ref="ASYNC-DEFAULT"/>
        <appender-ref ref="MSG"/>
        <appender-ref ref="PAY"/>
    </logger>

    <!-- root -->
    <root level="INFO">
        <appender-ref ref="ASYNC-DEFAULT"/>
    </root>

</configuration>
