<?xml version="1.0" encoding="UTF-8"?>
<configuration>

    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <withJansi>true</withJansi>
        <encoder>
            <pattern>%green(%date{ISO8601}) [%44thread] %highlight(%-5level) %cyan(%logger{36}) - %msg%n</pattern>
        </encoder>
    </appender>

    <logger name="com.github.sftwnd.crayfish.examples" level="INFO" />

    <root level="INFO">
        <appender-ref ref="STDOUT"/>
    </root>

</configuration>
